body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    height:150px;
    width:150px;
    margin:1.2rem;
    border-radius: 15px;
    border: 5px solid black;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.box_container{
    display:flex;
}
.flash{
    background-color: white;
}